.header {
    padding: 5px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #222;
    border-radius: 15px 15px 0 0;
    border-bottom: solid 2px #444;
  }
  
  .header h1 {
    flex-grow: 1;
    font-size: 1.5em;
    letter-spacing: 3px;
    font-weight: normal;
  }
  
  .header .stats,
  .header .stopwatch {
    width: 170px;
  }