.add-player-form form {
    display: flex;
    background-color: #222;
    border-radius: 0 0 20px 20px
  }
  
    .add-player-form input[type=text] {
      flex-grow: 1;
      border-width: 0 0 1px 0;
      margin: 15px 10px 15px 15px;
      padding: 10px;
      border-radius: 5px;
      background-color: #333;
      border-style: none;
      text-shadow: none;
      text-transform: uppercase;
      color: #999;
      letter-spacing: 2px;
      outline: none;
    }
  
    .add-player-form input[type=text]::-webkit-input-placeholder{
      color: #666;
      letter-spacing: 2px;
    }
  
    .add-player-form input[type=text]:focus{
      background-color: #444;
    }
  
    .add-player-form input[type=submit] {
      display: block;
      font-size: .6em;
      margin: 15px 15px 15px 0; 
      padding: 10px;
      background-color: #333;
      border-radius: 5px;
      border: none;
      color: #999;
      letter-spacing: 2px;
      font-weight: bold;
      text-shadow: none;
      text-transform: uppercase;
    }
  
    .add-player-form input[type=submit]:hover{
      background: #4b71b5;
      color: #fafafa;
      cursor: pointer;
    }